.popup__close-button {
  all: unset;
  background: url(../../../images/close-Icon.svg) no-repeat center / 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.1s ease-in-out;
  border: none;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 534px) {
  .popup__close-button {
    background-size: 20px;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
