.header__link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.header__link:hover {
  opacity: 0.6;
}
