.profile__add-button {
  background: url(../../../images/add-button-logo.svg) no-repeat center / 22px;
  outline: none;
  border: none;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  justify-self: end;
  align-self: center;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 917px) {
  .profile__add-button {
    width: 282px;
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    background-size: 16px;
  }
}
