.popup__check-button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    min-height: 50px;
    background-color: #000000;
    border-radius: 2px;
    border: none;
    margin: 0;
    padding: 0;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 95px;
    left: 36px;
    width: 100%;
    max-width: calc(100% - 36px*2);
  }

  .popup__check-button:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 467px) {
    .popup__check-button {
      left: 22px;
      max-width: calc(100% - 22px*2);
    }
  }

  @media screen and (max-width: 416px) {
    .popup__check-button {
      font-size: 14px;
      line-height: 17px;
      min-height: 46px;
    }
  }
